$black: #1c1819;
$blue: #2a81dd;
$gray: #888b94;
$red: #f33;
$white: #fff;
$green: #64bd38;
$yellow: #ffdd61;

$darkest-white: #f2f2f3;
$lighter-blue: #d6ecfb;

$half-blue: #e9f2fb;
$half-green: #eff8eb;
$half-yellow: #fffae7;

$balance-bg: #f0fafd;

$cloth-blue: #00458a;
$cloth-beige: #efe8d8;
$cloth-gray: #d4d4da;
$cloth-black: #111111;
$cloth-azure: #2a81dd;
$cloth-red: #ff0000;

$sm-border-radius: 4px;
$md-border-radius: 8px;
$lg-border-radius: 16px;

$sm-padding: 4px;
$md-padding: 8px;
$lg-padding: 16px;
$xl-padding: 24px;
$xxl-padding: 32px;

$sm-margin: 4px;
$md-margin: 8px;
$lg-margin: 16px;
$xl-margin: 24px;
$xxl-margin: 32px;

$open-sans: 'Open Sans', sans-serif;
