@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

:root {
    --modal-layer: 1;
    --primary-color: #2a81dd;
    --primary-color-lighter: #34a2e9;
    --balance-background: #f0fafd;
    --checked-input-background: #d6ecfb;
}

* {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 14px;
    color: #1c1819;
    line-height: 24px;
}

#app {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 12px 32px;
    height: 100%;
    position: relative;
}

.modal-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.overlay {
    width: 100%;
    height: 100vh;
    background-color: #1c1819;
    opacity: 0.6;
    position: absolute;
}

.modal {
    max-width: 1040px;
    padding: 24px;
    border-radius: 16px;
    background-color: #fff;
    display: flex;
    z-index: var(--modal-layer);
}

.modal__content {
    margin-top: 40px;
    margin-bottom: 40px;
}

.modal__content-top {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 8px;
}

.scores {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 8px;
}

.action {
    padding: 6px 32px;
    min-width: 134px;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    border: none;
    border-radius: 8px;
    color: #fff;
    background-color: var(--primary-color);
    cursor: pointer;
    transition: background-color 300ms ease-out;
}

.action:hover {
    background-color: var(--primary-color-lighter);
}

.balance {
    min-width: 196px;
    min-height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 8px 16px;
    border-radius: 16px;
    background-color: var(--balance-background);
}

.balance::after {
    content: '';
    width: 40px;
    height: 40px;
    display: block;
    background-image: url(../assets/balance_icon.png);
}

.balance__container {
    display: flex;
    flex-direction: column;
}

.balance__container-title {
    color: #888b94;
    margin-bottom: 4px;
}

.balance__container-value {
    font-size: 16px;
}

.colors-title,
.sizes-title {
    margin-top: 16px;
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: 400;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
}

.color-input,
.size-input {
    display: none;
}

.color-input:checked ~ .color-label {
    color: #000;
    background-color: var(--checked-input-background);
    border-color: transparent;
}

.color-label {
    color: var(--primary-color);
    display: flex;
    min-height: 40px;
    padding: 8px 12px 8px 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    border-radius: 8px;
    border: 1px solid #1c181910;
    transition: background-color 300ms ease-out;
    position: relative;
    cursor: pointer;
}

.color-label::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    margin-right: 8px;
    background-color: gray;
}

#blue-color ~ .color-label::before {
    background-color: #00458a;
}

#beige-color ~ .color-label::before {
    background-color: #efe8d8;
}

#gray-color ~ .color-label::before {
    background-color: #d4d4da;
}

.size-label {
    color: var(--primary-color);
    display: block;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #1c181910;
    margin-right: 8px;
    margin-bottom: 8px;
    min-width: 40px;
    max-height: 40px;
    text-align: center;
    cursor: pointer;
    transition: background-color 300ms ease-out;
}

.size-input:checked ~ .size-label {
    color: #000;
    background-color: var(--checked-input-background);
    border-color: transparent;
}

.detail-title,
.help-title {
    font-size: 14px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 4px;
}

.modal__images {
    margin-top: 32px;
    margin-right: 24px;
    margin-left: 32px;
}

.all-images {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    max-width: 330px;
    justify-content: center;
}

.all-images img {
    border-radius: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    cursor: pointer;
}

.all-images img:last-child {
    margin-right: 0;
}

.all-images img.active {
    border: 1px solid var(--primary-color);
}

.modal__close-btn {
    box-sizing: content-box;
    width: 24px;
    height: 24px;
    padding: 4px;
    margin: 0;
    background-color: #fff;
    border: none;
    background-image: url(../assets/close.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 300ms ease-out;
}

.modal__close-btn:hover {
    opacity: 1;
}

.header > .container {
    display: flex;
    align-items: center;
}

.header__logo {
    min-width: 250px;
    margin-right: 32px;
    display: flex;
    align-items: center;
}

.header__search {
    width: 100%;
    display: flex;
}

.header__search > button {
    padding: 8px 8px 8px 16px;
    border-radius: 8px 0 0 8px;
    border: none;
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f3;
    cursor: pointer;
}

.header__search > input {
    min-width: 310px;
    padding: 8px 16px 8px 8px;
    border-radius: 0 8px 8px 0;
    border: none;
    background-color: #f2f2f3;
    font-size: 18px;
    line-height: 28px;
    color: #888b94;
    transition: min-width 500ms ease-out;
    outline: none;
}

.header__search > input:hover,
.header__search > input:active,
.header__search > input:focus {
    /* 44px button width */
    min-width: calc(100% - 44px);
}

.header__user-menu {
    margin-left: 32px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
    text-align: left;
}

.user-menu__avatar {
    border-radius: 50%;
    margin-right: 16px;
}

.user-menu__name {
    font-size: 14px;
    font-weight: 600;
    color: var(--primary-color);
    line-height: 24px;
}

.user-menu__scores {
    font-size: 13px;
    line-height: 20px;
}

.main {
    margin-bottom: 32px;
    min-height: calc(100vh - 200px);
}

.main > .container {
    display: flex;
}

.main__nav {
    min-width: 250px;
    margin-right: 32px;
}

.main-nav__list {
    list-style: none;
}

.main-nav__item > a {
    display: block;
    padding: 8px 0;
    margin-bottom: 16px;
    color: #1c1819;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    transition: font-weight 300ms ease-out;
}

.main-nav__item > a:hover,
.main-nav__item > a:active {
    font-weight: 600;
}

.main-nav__item > a.active {
    position: relative;
    font-weight: 600;
}

.main-nav__item > a.active::after {
    content: '';
    position: absolute;
    top: 2px;
    left: -12px;
    width: 4px;
    height: 36px;
    display: block;
    border-radius: 10px;
    background-color: var(--primary-color);
    pointer-events: none;
}

.main__content {
    width: 100%;
}

.main__content-banner {
    width: 100%;
    height: 335px;
    background-image: url(/src/assets/banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    margin-bottom: 24px;
}

.content-banner__container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-banner__container::before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(/src/assets/balance_icon.png);
}

.content-banner__title {
    font-weight: 600;
    font-size: 34px;
    line-height: 56px;
}

.content-banner__description {
    font-size: 18px;
    line-height: 28px;
}

.main__content-help-btns {
    display: flex;
    margin-bottom: 40px;
}

.help-btn {
    font-weight: 600;
    line-height: 32px;
    font-size: 20px;
    padding: 8px 24px;
    width: 100%;
    margin-right: 24px;
    border-radius: 16px;
    height: 76px;
    border: none;
    cursor: pointer;
    transition: transform 300ms ease-out;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.help-btn.get {
    background-color: #eff8eb;
}

.help-btn.get::before {
    background-image: url(/src/assets/plus.png);
}

.help-btn.help {
    background-color: #fffae7;
}

.help-btn.help::before {
    background-image: url(/src/assets/help.png);
}

.help-btn.gift {
    background-color: #e9f2fb;
}

.help-btn.gift::before {
    background-image: url(/src/assets/gift.png);
}

.help-btn::before {
    content: '';
    display: block;
    width: 48px;
    height: 56px;
    margin-right: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.help-btn:last-child {
    margin-right: 0;
}

.help-btn:hover {
    transform: scale(1.02);
}

.products-filter {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.products-filter__item button {
    font-size: 14px;
    line-height: 24px;
    padding: 8px 16px;
    border-radius: 8px;
    color: var(--primary-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    cursor: pointer;
    margin-right: 8px;
    background-color: #fff;
    transition: color 300ms ease-out, background-color 300ms ease-out;
}

.products-filter__item.active button {
    color: #000;
    background-color: var(--checked-input-background);
    border-color: transparent;
}

.products-filter__item:hover button {
    color: #000;
    background-color: var(--checked-input-background);
}

.products__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
}

.product__card {
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: -44px;
    transition: box-shadow 300ms ease-out;
}

.product__card:hover {
    z-index: 2;
    box-shadow: 0 2px 10px rgba(28, 24, 25, 0.1);
}

.product__card:hover .product__card-action {
    visibility: visible;
}

.product__card:hover .product__card-price {
    color: #f33;
}

.product__card-header {
    position: relative;
    width: 100%;
    height: 330px;
    padding: 16px;
}

.product__card-img {
    width: 100%;
    height: auto;
}

.product__card-badge {
    position: absolute;
    left: 16px;
    bottom: 16px;
    font-size: 13px;
    line-height: 20px;
    padding: 0 4px;
    border-radius: 4px;
    background-color: #64bd38;
    text-transform: uppercase;
    color: #fff;
}

.product__card-body {
    padding: 16px;
}

.product__card-price {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: var(--primary-color);
    margin-bottom: 8px;
    transition: color 300ms ease-out;
}

.product__card-name {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    width: 290px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 4px;
}

.product__card-size {
    font-size: 14px;
    line-height: 24px;
    color: #888b94;
    margin-bottom: 16px;
}

.product__card-action {
    font-size: 16px;
    line-height: 24px;
    padding: 8px 16px;
    width: 100%;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    cursor: pointer;
    visibility: hidden;
}

.footer {
    width: 100%;
    background-color: #1c1819;
    color: #fff;
}

.footer .container {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.footer__rights {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
}

.footer__socials {
    list-style: none;
    display: flex;
    align-items: center;
}

.footer__social-link a {
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.footer__right {
    display: flex;
    align-items: center;
}

.footer__right p {
    font-size: 14px;
    line-height: 24px;
    margin-right: 32px;
}

.footer__right a {
    font-size: 14px;
    line-height: 24px;
    color: var(--primary-color);
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #fff;
    transition: color 300ms ease-out, background-color 300ms ease-out;
}

.footer__right a:hover {
    color: #fff;
    background-color: var(--primary-color);
}
